<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Category</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <header class="header-bar">
    <a href="/">
      <h1>Inventory</h1>
    </a>
    <nav>
      <ul>
        <li><a href="/item">Items</a></li>
      </ul>
      <ul>
        <li><a href="/category">Category</a></li>
      </ul>
    </nav>
  </header>
  <a class="back" href="/category">Return</a>
  <form class="single-form" method="post">
    <label>Title: <input name="title" type="text" value="<%= title %>" required autofocus></label>
    <button>SEND</button>
  </form>
</body>

</html>