<!DOCTYPE html>
<html>
  <head>
    <title>Inventory</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header class="header-bar">
      <a href="/">
        <h1>Intentory</h1>
      </a>
      <nav>
        <ul>
          <li><a href="/item">Items</a></li>
        </ul>
        <ul>
          <li><a href="/category">Category</a></li>
        </ul>
      </nav>
    </header>
   <a href="/item">GO TO ITEMS</a>
   <a href="/category">CATEGORIES</a>
  </body>
</html>
